replicaCount: 1
image:
  repository: ghcr.io/zeljkobenovic/govein
  pullPolicy: IfNotPresent
  tag: ""
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: false
  automount: true
  annotations: {}
  name: ""
podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 8080
resources:
  requests:
    cpu: 100m
    memory: 16Mi
livenessProbe:
  httpGet:
    path: /healthz
    port: http
readinessProbe:
  httpGet:
    path: /healthz
    port: http
volumes: []
volumeMounts: []
nodeSelector: {}
tolerations: []
affinity: {}
secrets:
  enabled: false
  existingSecretName: ""
  influxDBOrgName: ""
  influxDBToken: ""
  veeamAdminPassword: ""
  veeamAdminUsername: ""
config:
  veeam:
    host: ""
    x_api_version: 1.2-rev0
    trust_self_signed_cert: false
    excluded_job_types:
      MalwareDetection: {}
      SecurityComplianceAnalyzer: {}
  influx:
    host: http://influxdb:8086
    bucket: veeam
